<div class="form form-style-8">

  <h2>Login page</h2>
  
<form name="login.loginForm" ng-submit="login.submit()" novalidate>
  <div ng-messages="login.loginForm.email.$error" role="alert" ng-show="(login.loginForm.email.$touched) &&(login.loginForm.email.$invalid)">
    <div ng-message="required">Email is required </div>
    <div ng-message="pattern">Please enter a valid email.</div>
  </div>
  <div ng-messages="login.loginForm.password.$error" role="alert" ng-show="(login.loginForm.password.$touched) &&(login.loginForm.password.$invalid)">
    <div ng-message="required">Password is required </div>
  </div>


    <label for="email">Email</label>
    <input type="text" name="email" id="email" ng-pattern="/@/" ng-model="login.credentials.email" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" ng-model="login.credentials.password" required>

  <button>Login</button> <br>

<button ng-click="login.authenticate('github')">Sign in with GitHub</button>
<button ng-click="login.authenticate('facebook')">Sign in with Facebook</button>
<button ng-click="login.authenticate('instagram')">Sign in with Instagram</button>

</form>
</div>
