///////USEFUL BITS//////////
#username {
  display: block;
}
#email{
  display: block;
}
.lineBreak {
  width: 600px;
    border-top: 1px solid black;
    text-align: center;
    position: relative;
    margin: 50px auto;
}

button {
  font-family: 'Playfair Display', serif;
  width: 180px;
  margin: 2px;
  background-color: #F9F7F3;
}

.btn {
  font-family: 'Playfair Display', serif;
  width: 180px;
  margin: 2px;
  background-color: #F9F7F3;
}

.centered-styles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$cream: #F9F7F3;
$light-blue: #B5E2FA;
$grey: #E5E5E5;
$dark-blue: #3E7FC6;
$lightGrey: #827d78;
$darkGrey: #242322;

//FONTS
//'Open Sans Condensed'
//'Playfair Display'Headings on show etc
//font-family: 'Poppins', sans-serif;  used for title
.btn-primary {
  border-width: medium;
  border-color: white;
  margin: 10px;
  padding: 5px 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  a {
    color: $darkGrey;
  }
}

a {
  color: $darkGrey;
  text-decoration: none;
  margin: 0 2px;
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    color: lightGrey;
}

//////////////////////////////END OF USEFUL BITS///////////////////////////
.table-styling {
  table {
    padding-left: 50px;
  }
  td {
    font-size: 10px;
    padding: 7px;
    letter-spacing: 5px;
    font-weight: 700;
    span {
      font-family: 'Playfair Display', serif;
      font-weight: bold;
      letter-spacing: normal;
      font-size: 13px;
    }
  }
}
//
// .hello {
//   @extend .table-styling;
// }

body{
  overflow-x: hidden;
  background-color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 100px;
  .enabled {
    display:none;
  }
}

#rangeText{
  z-index: 3;
}
////////////////////////////NAV BAR STYLING ///////////////////////////////////
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 201;
  .banner {
    z-index: 11;
    background-color: #949191;
    width: 100%;
    height: 50%;
    // border: 1px solid #949191;
  }
  ul {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 50px;
    padding: 0 100px !important;
      li {
        list-style: none;
        line-height: 50px;
        float: right;
        padding-left: 15px;
        &.logo {
          float: left;
          padding: 0;
          h1 {
            margin: 0;
            padding: 0;
            line-height: 53px;
          }
        }
        &.menu-icon {
          display: none;
          cursor: pointer;
        }
        a {
          font-family: 'Playfair Display', serif;
          display: inline;
          font-size: 18px;
          color: black;
          display: block;
          z-index: 11;
          &.active {
            color: white;
            opacity: 0.5;
            text-decoration: line-through;
            animation: none;
          }
        }
      }

  }
}

.nav-extension {
  width: 100%;
  background-color: rgba(300,300,300,0.9);
  position: fixed;
  top: 47px;
  left: 0;
  z-index: 10;
  margin-bottom: 50px;
  height: 70px;
  h1{
    margin-left: 100px;
    padding-left: 140px;
    margin-top: 30px;
  }
}


/////////////////////////////profile page styling/////////////////////////////////

  .pic-and-buttons {
    img{
      width: 100%;
      height: 100%;
      padding:5px;
      border: 1px solid black;
    }
    button{
      margin: 5% 7%;
      color: white;
      max-height:40px;
      width: 120px;
      background: black;
      display: inline;
    }
  }

  .info{
    p{
      text-align: left;
      font-family: 'Playfair Display', serif;
      margin-top: 30px;
    }
  }
  h3{
    font-family: 'Playfair Display', serif;
  }
  .tog{
    list-style: none;
    text-align: left;
    p{
      font-size: 15px;
    }
  }

  // .line{
  //   height: 2px;
  //   width: 10px;
  //   border:1px solid black;
  //   z-index: 100;
  // }

 //.profile-show {
  // // border: 5px solid lightGrey;
  // border: 5px solid black;
  // margin: 70px;
  // left: 20px;
  // button {
  //   display: block;
  //   margin-top: 3px;
  //   width: 80px;
  // }
  // .show-row{
  //   padding: 20px;
  //   .box-1 {
  //     top: 50px;
  //     .delete {
  //       transform: translate(116%, -116%);
  //     }
  //     img {
  //       height: 250px;
  //       padding: 10px;
  //       border-radius: 20px;
  //     }
  //   }
  //
  //   .box-2 {
  //     @extend .table-styling;
  //     // border: 1px solid black;
  //     padding: 50px;
  //     right: 70px;
  //     top: 60px;
  //     td {
  //       font-size: 15px;
  //       span {
  //         font-size: 18px;
  //         font-weight: normal;
  //       }
  //     }
  //     }
  //   .box-3 {
  //       // border: 1px solid black;
  //       left: 20px;
  //       ul {
  //         li {
  //           border: white;
  //           list-style: none;
  //         }
  //       }
  //
  //       a{
  //         &:hover{
  //           color:#81a7ce;
  //           text-decoration: none;
  //         }
  //       }
  //       h3{
  //         // font-family: 'Poppins', sans-serif;
  //         font-family: 'Playfair Display', serif;
  //         font-size: 25px;
  //         &:hover{
  //           color:#81a7ce;
  //           text-decoration: none;
  //         }
  //       }
  //   }
//}


 //}
// .item{
//   border: 1px solid black;
// }

////////////////////////////////////Masonry//////////////////////////////

.hidden-masonry{
  text-align: left;
  visibility: hidden;
  font-size: 13px;
  line-height: 1.1;
  width: calc(100% - 40px);
  z-index: 200;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
}
.mask{
  border-radius: 15px;
  display: none;
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  background: rgba(0,0,0,0.5);
  z-index: 199;
}

.container-index {
  margin-top: 60px;
}
.masonry-container {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;


  .masonry {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    display: block;
    position: relative;
    &:hover{
      .hidden-masonry{
        visibility: visible;
      }
      .mask{
        display: block;
      }
    }

    img {
      width: 100% !important;
      height: auto !important;
      padding: 3px;
      border-radius: 15px;
    }
  }

  @media (max-width: 1200px) {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
  }
  @media (max-width: 1000px) {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
  @media (max-width: 800px) {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
  @media (max-width: 400px) {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}

/////////////////////////MAPS//////////////////////
#maps {
  height:400px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

//////////////////////////////Aside Bar/////////////////////////////////////

.menu{
  cursor: pointer;
    position: fixed;
    z-index: 301;
    top:100px;
    left: 20px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  .burger{
    width: 20px;
    height:15px;
    @extend .centered-styles;
    span{
      background: black;
      display: block;
      position: absolute;
      height: 3px;
      width:100%;
      border-radius: 3px;
      opacity: 1;
      left:0;
      transform: rotate(0deg);
      transition: all 0.5s ease-in-out;
      &:nth-child(1) {
        top: -1px;
        left: -25px;
        transform: translateX(38px) translateY(4px) rotate(45deg);
        width: 50%;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 6px;
      }
      &:nth-child(4) {
        top: 13px;
        left: -25px;
        transform: translateX(38px) translateY(-4px) rotate(-45deg);
        width: 50%;
      }
    }
  }
  &.open {
    .burger{
      span{

        &:nth-child(1),
        &:nth-child(4){
          top:6px;
          width:0%;
        }
        &:nth-child(2){
          transform: rotate(45deg);
        }
        &:nth-child(3){
          transform: rotate(-45deg);
        }
      }
    }
  }
}



///////////////////SEARCH BAR////////////////////////////////
.filters{
  background:rgba(300,300,300,0.9) ;
  width: 200px;
  height:100%;
  position: fixed;
  top:100px;
  left:-30%;
  transition: 1s ease;
  left: -30%;
  padding-top: 40px;
  z-index: 300;
  &.open{
    transition: 1s ease;
    left: 0;
  }
  h5{
    margin-left: 10px;
    font-family: 'Playfair Display', serif;
  }
  input, select{
    width: 175px;
    display: block;
    margin-top: 10px;
    margin-left: 5px;
  }

}

////////////////title font styling/////////////////////

.title{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 15px;
  color: grey;
  font-size: 16px;
  font-weight: 700;
  padding-top: 5px;
}
///////// Item show /////////////

//SHOW PAGE
.item-show {
    margin: 50px auto;
    text-align: center;

//ROW 1
  .row {
    // width: 1200px;
    // display: inline;
    // margin: 10px;
    text-align: left;
  #leftShow {
    // width: 400px;
    // margin: 10px;
    text-align: left;
    padding-left: 20px;
    img{
      width: 300px;
      // padding-top: 10px;
      // padding-bottom: 20px;
    }
    .userButtons {
      text-align: center;
      padding: 20px 10px;
      width: 300px;
      font-size: 15px;
      .miniButton {
        padding: 0 10px;
      }
    }
  }
    #rightShow {
      // width: 400px;
      // display: inline;
      // margin: 0;
      padding-bottom: 40px;
      h2 {
        font-family: 'Playfair Display', serif;
        font-size: 50px;
        width: 600px;
        padding: 25px 0;
      }
      .item-info{
        border: 7px solid grey;
        padding: 20px;
        width: 600px;
        table {
          padding-left: 50px;
        }
        td {
          font-size: 10px;
          padding: 7px;
          letter-spacing: 5px;
          font-weight: 700;
          span {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            letter-spacing: normal;
            font-size: 13px;
          }
        }
      }
    }


  } //END OF ROW1

}//end of item-show

//TOGGLE

.requestButton {
  width: 200px;
  margin-left: 70px;
}

  .toggle {
    background-color: $cream;
    border: 1px solid grey;
    padding: 10px 80px;
    width: 550px;
    margin: 10px 0;
    h5 {
      font-family: 'Playfair Display';
      font-size: 30px;
      padding-bottom: 5px;
    }
    span {
      color: $cream;
    }
    .requestButton {
      background-color: white;
      margin: 10px 0;
    }
    .form {
      text-transform: uppercase;
      width:600px;
      text-align: center;
      margin: 5px auto;
      padding: 20px 30px;
      border: 5px solid white;
      background-color: $lightGrey;
      input, select, label{
        display:block;
        width:100%;
        line-height: 2.5;
        border-radius: 5px;
        font-size: 16px;
        // margin: 20px;
      }
      span {
        color: $cream;
        display: inline-block;
      }
    } //end of form
    input{
      color:black;
      &:focus {
      outline: none !important;
      }
    }
    h2 {
      text-align: center;
      font-family: 'Playfair Display';
    }

  ul {
      margin-top: 30px;
      // width: 50%;
      // height: 90px;
      overflow: scroll;
      text-decoration: none;
      list-style-type: none;
      li {
        list-style-type: none;
      }
  }
  textarea{
    width: 100%;
    border: 3px solid grey;
  }

}

//end of comments

//COMMENTS
.comments {
  font-family: 'Playfair Display', serif;
  margin: 0 50px;
  // background-color: yellow;
  h2 {
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 35px;
    margin: 50px auto;
  }
  ul {
      margin-top: 30px;
      width: 50%;
      height: 150px;
      overflow: scroll;
      text-decoration: none;
      list-style-type: none;
      li {
        list-style-type: none;
      }
      a {
        color: blue;
        align: right;
        margin: 6px 0;
      }
    }
  }

  form {
    margin: 60px 100px;

    textarea {
      width: 400px;
      height: 70px;
    }
    .requestButton {
      width: auto;
    }
  }

.commentBox {
  font-family: 'Playfair Display', serif;
  width: 600px;
  // background-color: red;
  padding: 15px;
  // border: 2px solid #f2f2f2;
}
.requestButton {
  font-family: 'Playfair Display', serif;
  width: 180px;
  margin: 2px;
  background-color: #F9F7F3;
}
//MAP

  .maps {
    h1 {
      font-size: 30px;
      margin: 10px 0 40px 0;
    }
    .location-title{
      font-family: 'Playfair Display', serif;
      text-align: center;
    }
    p, h2 {
      font-family: 'Playfair Display', serif;
      text-align: left;
      font-size: 15px;
    }
  form {
    margin: 60px 100px;
        textarea {
      width: 400px;
      height: 70px;
    }
    .requestButton {
      width: auto;
    }
  }

}



///  //REQUESTING ITEM
  input{
    color:black;
    &:focus {
    outline: none !important;
    }
  }


  //END OF REQUESTING ITEM


///////DONT MESS WITH MY FORMS//////////


.form-style-8{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: black;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.form-style-8 textarea,

{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}


////////////////////////FORM STYLING////////////////////////
input{
  color:black;
  &:focus {
  outline: none !important;
  }

  .input-btn{
    margin-top: -10px;

  }
}

//////////////////////////////Footer fools//////////////////////////////////
div.footer{
  position: fixed;
  bottom: 0;
  z-index:5;
  background-color: #B8B5B5;
  height:50px;
  // padding: 10px 0;
  text-align: center;
  color: white;
  width:100%;
  p{
    float:right;
    padding-top: 8px;
    padding-right: 30px;
    display:block;
    opacity: 0.7;
    height: 8px;
    font-size: 13px;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      float: left;
      margin-left: 20px;
      line-height: 40px;
      a {
        img {
          max-height: 30px;
          width: 30px;
        }
      }
    }
  }
}
//////////////////END OF FOOTER/////////////////////////////////////////

@media only screen and (max-width: 768px) {
  nav{
    z-index: 305;
    ul {
      padding: 0 20px !important;
      .dropdown {
        display: none;
        background-color: white;
        z-index: 305;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        padding: 20px;
        &.open {
          display: block;
          z-index: 305;
        }
      }
      li {
        float: none;
        text-align: right;
        &.menu-icon {
          display: block;
        }
      }
    }
  }

}
@media only screen and (max-width: 991px) {
  .info{
    border-bottom: 1px solid black;
  }
}
