<div class="form form-style-8">

<h2>New item</h2>

  <form name="itemsNew.newForm" ng-submit="itemsNew.create()" novalidate >
    <div ng-messages="itemsNew.newForm.name.$error" role="alert" ng-show="(itemsNew.newForm.name.$touched) &&(itemsNew.newForm.name.$invalid)">
      <div ng-message="required">Item name is required </div>
    </div>
    <div ng-show="itemsNew.newForm.price.$touched &&(itemsNew.newForm.price.$invalid)" ng-messages="itemsNew.newForm.price.$error" role="alert">
      <div ng-message="required">Price is required </div>
    </div>
    <div ng-messages="itemsNew.newForm.size.$error" role="alert" ng-show="(itemsNew.newForm.size.$touched) &&(itemsNew.newForm.size.$invalid)">
      <div ng-message="required">Size is required </div>
    </div>
    <div ng-messages="itemsNew.newForm.catagory.$error" role="alert" ng-show="(itemsNew.newForm.catagory.$touched) &&(itemsNew.newForm.catagory.$invalid)">
      <div ng-message="required">Category is required </div>
    </div>


    <label for="name">Name</label>
    <input type="text" name="name" id="name" ng-model="itemsNew.item.name" class="form-control" required>

    <label for="price">Price</label>
    <input type="text" name="price" id="price" ng-model="itemsNew.item.price" class="form-control" required>

    <label for="Size">Size</label><br>
      <select name="size" id="size" ng-model="itemsNew.item.size" required>
        <option value="extra-small">x-small</option>
        <option value="small">small</option>
        <option value="medium">medium</option>
        <option value="large">large</option>
        <option value="extra-large">x-large</option>
      </select>

    <label for="description">description</label>
    <input type="textarea" name="description" id="description" ng-model="itemsNew.item.description" class="form-control">

    <label for="catagory">Category</label><br>
      <select name="catagory" id="catagory" ng-model="itemsNew.item.catagory" required>
        <option value="Men">Men</option>
        <option value="Women">Women</option>
        <option value="Children">Children</option>
      </select>

    <label for="base64">Image</label>
    <input class="input-btn" type="file" base64 name="base64" id="base64" ng-model="itemsNew.item.base64">

  <button class="btn btn-primary">Create</button>
</form>
</div>
